.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px rgb(7, 7, 7) solid;
  align-content: left;
  margin: 0 auto;
}

.card-header {
  height: 30%;
  background: #0d0d0e;
  color: white;
  text-align: center;
}

.card-header p {
  font-size: 20px;
}
.container {
  padding: 4px 16px;
}
